<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadora</h1>
    <form action="/calculadora" method="post">
        <input type="number" name="num1" required placeholder="Número 1"/>
        <input type="number" name="num2" required placeholder="Número 2"/>
        <select name="operacao">
            <option value="add">Somar</option>
            <option value="sub">Subtrair</option>
            <option value="mul">Multiplicar</option>
            <option value="div">Dividir</option>
        </select>
        <button type="submit">Calcular</button>
    </form>
    {% if resultado is not none %}
        <h2>Resultado: {{ resultado }}</h2>
    {% endif %}
</body>
</html>